<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brunny.eth</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="title-nav">
                <h1>brunny.eth</h1>
                <nav>
                    <ul>
                        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
                        <li><a href="{{ '/projects-ive-worked-on' | relative_url }}" {% if page.url == '/projects-ive-worked-on' %}class="active"{% endif %}>Projects</a></li>
                        <li><a href="{{ '/blog' | relative_url }}" {% if page.url == '/blog' %}class="active"{% endif %}>Blog</a></li>
                        <li><a href="{{ '/hobbies' | relative_url }}" {% if page.url == '/hobbies' %}class="active"{% endif %}>Hobbies</a></li>
                    </ul>
                </nav>
            </div>
            <img src="{{ '/images/brunnyeth.png' | relative_url }}" alt="Brunny.eth NFT" id="brunny-eth-image" style="max-width: 60px; height: auto;">
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© 2025 brunny.eth</p>
        <p class="quote">The ultimate fate of all intelligent beings has always been to become as grand as their thoughts. - Cixin Liu</p>
    </footer>
</body>
</html>